.Main {
  width: 80vw;
  height: 100vh;
  background-color: #f0f5f9;
  display: flex;
  flex-direction: column;
}

.head {
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.head:after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 90%;
  border-bottom: 1px solid black;
}

.body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.noteValue {
  display: flex;
  width: 80%;
  height: 80%;
  word-wrap: break-word;
  white-space: pre-line;
}

.titleZone {
  width: 100%;
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.mainTextTitle {
  margin: 0;
  font-size: 40px;
}

.sub {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.time {
  margin: 0;
  font-size: 15px;
}

.line {
  margin-left: 10px;
  margin-right: 10px;
}

.editBtn {
  cursor: pointer;
  font-size: 18px;
}

.editInputArea textarea {
  width: 100%;
  height: 300px;
  font-size: 14px;
}
